{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}

<p>This project is a collaboration effort between the following students:</p>

<p>Carlos Fernandez</p>
<p>Jimmy Mauri</p>
<p>Jose Camino</p>

<p>This project was developed in 2013 under the guidance of the following mentors/profesors:</p>

<p>Juan Caraballo, IBM</p>
<p>Masoud Sadjadi, PhD</p>

<p>Licenses:

<p>FOR ALL RELATED LICENSE AND COPYRIGHT NOTICES, THE FOLLOWING APPLY TO ALL:</p>
<p>NONE OF THE RELATED SOFTWARE USED </p>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<style>
p.padding
{
padding-left:30px;
width:300px;
}
p.align1
{
padding-left:235px;
width:50px;
}
p.align2
{
  padding-left:190px;
}
.images
{
  padding.left:20px;
  width:1000px;
}
</style>

{% endblock %}