<!DOCTYPE html>
<html>
	<head></head>
	<title>Add Users From a Project</title>
	<body>
		<form action = "{{url_for ("added", project_id = project_id)}}" method = "post" id = "addUserForm">
			<legend>Add User</legend>
			<br>
			<label for = "username">User Name</label>
			<br>
			<input type = "username" method = "post" name = "username" required>
			<br>
			<label for = "role"> What role would you like to place him in?</label>
			<br>
			<select name = "role">
			<option value = "Presentation Creator">Presentation Creator</option>
			<option value = "Slide Creator">Slide Creator</option>
			</select>
			<br>
			<input type = "submit" value = "Add User">
		</form>
	</body>
</html>