<!DOCTYPE html>
<html>
<head>
	<style>
		.checkout
		{
			display: table;
		}

		.checkout .row
		{
			display: table-row;
		}

		.checkout .row label,
		.checkout .row select
		{
			display: table-cell;
		}

		.checkout .row label
		{
			padding-right: 10px;
			font-weight: bold;
		}
	</style>

	<link src="mycss.css?version=2">
</head>
<title>Check out Slide</title>
<body>
	<form action = "{{url_for("checkedOut", project_id = project_id) }}" method = 'post'>
		<fieldset class="checkout">
		<legend>Select user and slide for check-out</legend>
			<div class="row">
				<label for = "username">User Name</label>
				<select name = "username">
					{% for user in users %}
					<option name = "{{ user }}">{{ user }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="row">
				<label for = "slide_ID">Slide</label>
				<select name = "slide_ID">
					{% for slide in slides %}
					<option name = "{{ slide.id}}">{{ loop.index }}. {{slide.name}}</option>
					{% endfor %}
				</select>
			</div>
			<input type = "submit" value = "Check Out">
		</fieldset>
	</form>
</body>
</html>