{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{%block content %}
{% if warning == "You have created a new project!" %}
  <div class="alert alert-success"><b>{{warning}}</b></div>
  {% elif warning|length != 0 %}
  <div class="alert alert-danger"><b>{{ warning }}</b></div>
  {% endif %}

	<body>
	<h1>Projects Page</h1>
	<div class="table">
		<table class="table">
		<tbody>
			<thead>
				<tr><th>Project Name</th><th>Role</th>
				</tr>
			</thead>
			{% for project in stuff %}
			{% if project.role == "Project Manager" %}
			<tr class ="success">

			{% elif project.role == "Presentation Creator" %}
			<tr class ="active">
			{% else %}
			<tr class ="warning">
			{% endif %}
			<td>
				<a href = "{{ url_for("show_project", project_id=project.project_id) }}">{{ project.project_name }}</a>
			</td>
			<td>
				{{ project.role }}
			</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
		<br>
	<a href = "#projectModal" data-toggle="modal" data-target="#projectModal"> Create a Project</a>
	<br>
	<a href = "login.html">Log Out</a>

	<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Register for the Dynamic Presenter Project!</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action = "/buildProject.html" method="post" name="buildProjectForm" role="form">
            <div class="form-group">
            <div class="col-sm-10">
            	<label for="projname">What would you like to name your project?</label>
                <input type="projname" class="form-control" name="projname" placeholder="Project Name" required>
            </div>
          </div>
      <button type="submit" name ="create" class="btn btn-primary">Add Project</button>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
	<title>Welcome to the Dynamic Presenter Project!</title>
	<style>
	.table
	{		
		width:450px;
	}
	</style>
{% endblock %}