	{% extends "bootstrap/base.html" %}
  {% import "bootstrap/fixes.html" as fixes %}

  {%block content %}
  {% if warning == "You are now registered into the Dynamic Presenter system!" %}
  <div class="alert alert-success">{{warning}}</div>
  {% elif warning != "" %}
  <div class="alert alert-danger">{{ warning }}</div>
  {% endif %}
	<form class="form-horizontal" action = "/index.html" method="post" name="loginForm" role="form">
  <div class="form-group">
    <p class="padding"><legend>Login</legend></p>
    <div class="col-sm-10">
      <p class="padding"><input type="username" class="form-control" name="username" placeholder="Input Username"></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <p class="padding"><input type="password" class="form-control" name="password" placeholder="Password"></p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p class="align1"><button type="submit" name="login" class="btn btn-primary">Log in</button></p>
    </div>
  </div>
</form>
  <p class="align2"><button class="btn btn-primary" data-toggle="modal" data-target="#registrationModal"></p>
  Register Here
</button>

<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Register for the Dynamic Presenter Project!</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action = "{{url_for("register")}}" method="post" name="registrationForm" role="form">
            <div class="form-group">
            <div class="col-sm-10">
                <input type="FName" class="form-control" name="FName" placeholder="First Name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
                <input type="LName" class="form-control" name="LName" placeholder="Last Name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
                <input type="UName" class="form-control" name="UName" placeholder="User Name" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
                <input type="password" class="form-control" name="repeatpass" placeholder="Repeat Password Here" required>
            </div>
          </div>
      <button type="submit" name ="register" class="btn btn-primary">Register</button>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<style>
p.padding
{
padding-left:30px;
width:300px;
}
p.align1
{
padding-left:80px;
}
p.align2
{
  padding-left:190px;
}
</style>

{% endblock %}