<!DOCTYPE html>
<html>
	<head>
	<title>Welcome to the Dynamic Presenter Project!</title>
	</head>

	<body>
		<form action ="/index.html" method="post" id="loginForm">
			<fieldset>
				<legend>Login</legend>
				<label for="username"> User Name</label>
				<br>
				<input type="username" method="post" name="username" required>
				<br>
				<br>
				<label for="password">Password</label>
				<br>
				<input type="password" method="post" name="password" required>
				<br>
				<br>
				<input type="submit" value="Log in">
			</fieldset>
		</form>
		<br>
		<a href = "register.html">Don't have an account?  Register here!</a>
	</body>

</html>