{% extends "base.html" %}
	
{% block content %}
{% if warning|length != 0 %}
<div class="alert alert-{{alert}}"><b>{{ warning }}</b></div>
{% endif %}

<h1>{{ name }}</h1>

<div class="table">
  <table class="table">
    <thead>
      <tr>
        <th>Presentation Name</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href = "{{url_for("viewSlides", project_id = project, presentation_id = current.id)}}">{{current.name}}</a>
        </td>
        <td>{{ current.created_at }}</td>
      </tr>
      {% for presentation in presentationList|reverse %}
        <tr>
          <td>
            <a href = "{{url_for("viewSlides", project_id = project, presentation_id = presentation.id)}}">{{presentation.name}}</a>
          </td>
          <td>{{ presentation.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if slideList|count > 0 %}
  <div class="table">
		<h3>Check-out Status for Current Presentation</h3>
		<table class = "table">
			<td><b>Slide Name</b></td>
			<td><b>Checked Out By</td>
			{% for slide in slideList %}
			<tr>
			<td>{{slide.name}}</td><td>{{slide.checkout_user}}</td>
			</tr>
			{% endfor %}
		</table>
  </div>		
		<br>
    <br>  
    <div class="links">
    <a href = "#persistPresentationModal" data-toggle="modal" data-target="#persistPresentationModal">Persist Current Presentation</a>
    <br>
    <a href = "#revertPresentationModal" data-toggle="modal" data-target="#revertPresentationModal"> Revert a Presentation</a>
    <br>
			<a href = "#checkOutModal" data-toggle="modal" data-target="#checkOutModal">Authorize a Slide for CheckOut</a>
    </div>
			<div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModal" aria-hidden="true">
  			<div class="modal-dialog">
    		<div class="modal-content">
      	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Authorize Slide for CheckOut</h4>
     	 </div>
      	<div class="modal-body">
          <form class="form-horizontal" action = "{{ url_for("checkOut", project_id = project) }}" method="post" name="authorizeCheckOutForm" role="form">
            <div class="form-group">
            <label for="username">User Name</label>
           <select class="form-control" name="username">
           	{% for user in users %}
           		<option value = "{{user}}">{{user}}</option>
           	{% endfor %}
           </select>
           <br>
           <label for="slide_id">Slide Name</label>
           <select class="form-control" name="slide_ID">
           	{% for slide in slideList %}
           	<option value="{{slide.id}}">{{loop.index}}) {{slide.name}}</option>           	
           	{% endfor %}
           </select>
       		</div>
      		<button type="submit" name ="removeUser" class="btn btn-primary">Authorize CheckOut</button>
  		</form>
      	</div>
      	<div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      	</div>
    	</div>
	  	</div>	
		</div>
    <br>
    <div class = "links">
    <a href = "#cancelCheckOutModal" data-toggle="modal" data-target="#cancelCheckOutModal">Cancel a CheckOut</a>
  </div>
      <div class="modal fade" id="cancelCheckOutModal" tabindex="-1" role="dialog" aria-labelledby="cancelCheckOutModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cancel a Check Out</h4>
       </div>
        <div class="modal-body">
          <form class="form-horizontal" action = "{{ url_for("deauthorizeCheckOut", project_id = project) }}" method="post" name="deauthorizeCheckOutForm" role="form">
            <div class="form-group">
           <label for="slide_id">Slide Name</label>
           <select class="form-control" name="slide_ID">
            {% for slide in slideList %}
              <option value="{{slide.id}}">{{loop.index}}) {{slide.name}}</option>            
            {% endfor %}
           </select>
          </div>
          <button type="submit" name ="removeUser" class="btn btn-primary">Deauthorize CheckOut</button>
      </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      </div>  
    </div>
    {% else %}
    <div class = "alert alert-warning"><b>You don't have any slides in this project.  Why don't you make some?</b></div>

		{% endif %}
		<br>
    <br>
<div class="links">
  
    <a href = "{{ url_for("presentation", project_id = project) }}">Manage Current Presentation</a>
  <br>
  <br>
		<button type="button" class= "button btn-warning" onclick ="location.href='{{url_for("changeProjectStatus", project_id = project)}}'">Switch Project Status</button>
    <br>
		<br>
		<a href = "{{ url_for("index")}}">Return to index</a>
		<br>
		<a href = "{{ url_for("logout")}}">Log Out</a>
</div>

<div class="modal fade" id="revertPresentationModal" tabindex="-1" role="dialog" aria-labelledby="reverPresentationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Revert Current Presentation</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action = "{{ url_for("revertPresentation", project_id = project) }}" method="post" name="revertPresentationForm" role="form">
            <div class="form-group">
           </div>
           <select class="form-control" name="presentation_id">
           	{% for presentation in presentationList %}
           	<option value = "{{presentation.id}}">{{presentation.name}}</option>
           	{% endfor %}
           </select>
           <br><br>
      		<button type="submit" name ="removeUser" class="btn btn-primary">Revert Presentation</button>
  		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="persistPresentationModal" tabindex="-1" role="dialog" aria-labelledby="reverPresentationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Revert Current Presentation</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action = "{{ url_for("createPresentation", project_id = project) }}" method="post" name="persistPresentationForm" role="form">
            <div class="form-group">
           </div>
           	<label for="presentation_name">What would you like to name your presentation?</label>
           	<input type="projname" class="form-control" name="presentation_name" placeholder="Presentation Name (not required)">
           <br><br>
      		<button type="submit" name ="persistPresentation" class="btn btn-primary">Create Presentation</button>
  		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
	<title>{{ name }}</title>
	<style>
  .table
  {   
    width:450px;
    padding-left:50px;
  }
  .header
  {
    padding-left:20px;
  }
  .links
  {
    padding-left:50px;
  }
	</style>
{% endblock %}