<!DOCTYPE html>

<html>
	<head></head>
	<title>Project 2</title>
	<style>
	td, th {border: 1px solid #999; padding: 0.1em 1em;}
	</style>
	<body>
		<h1>List of Presentations</h1>
		<table>
    			<tr>
				<th>Presentation ID</th><th>Version</th><th>Is Primary</th>
    			</tr>
				<tr>
				<td>4670</td><td>1</td><td>No</td>
				</tr>
				<tr>
				<td>4671</td><td>2</td><td>No</td>
				</tr>
				<tr>
				<td>4672</td><td>3</td><td>Yes</td>
				</tr>				
		</table>
		<a href = "createpresentation.html">Create a Presentation</a>
		<a href = "setprimary.html">Set Primary Presentation</a>
		<a href = "index.html">Return to Projects Page</a>
	</body>
</html>