<!DOCTYPE html>
<html>
	<head></head>
	<title>{{ name }}</title>
	<body>
		<h1>{{ name}}</h1>
		<table>
			<tr>
				<td><h4>Presentation ID</h4></td>
			</tr>
		{% for presentation in presentationList %}
		<tr>
			<td>{{presentation.id}}</td>
		</tr>
		{% endfor %}
		</table>
		<p>Current Presentation : {{ currentPresentation.id }}</p>

		<a href = "createPresentation.html">Create a Presentation</a>
		<a href = "index.html">Return to index</a>
		<a href = "login.html">Log Out</a>
	</body>
</html>