{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
	
{%block content %}

{% if warning|length != 0 %}
<div class="alert alert-{{alert}}"><b>{{ warning }}</b></div>
{% endif %}
	<h1 class = "header">{{ name }}</h1>


{% if slideList|count > 0 %}
<h3 class = "header">List of Slides in Current Presentation</h3>
	<div class="table">
		<table class="table">
		<tbody>
			<thead>
				<tr><th>Slide Name</th><th>Checked Out By</th>
				</tr>
			</thead>
			{% for slide in slideList %}
			<tr>
			<td>{{slide.name}}</td><td>{{slide.checkout_user}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="links">
		<a href = "{{ url_for("viewPresentations", project_id = project) }}">View List of Presentations</a>
	</div>
{% else %}
<div class="alert alert-warning"><b>Current Project Has No Slides.  You should make some slides!</b></div>
{% endif %}
{% if status != "Frozen" %}
	<div class = "links">
		<br>
		<br>
		<a href = "#addSlideModal" data-toggle="modal" data-target="#addSlideModal">Create a Slide</a>
	</div>
	<div class="modal fade" id="addSlideModal" tabindex="-1" role="dialog" aria-labelledby="addSlideModal" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
       		 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title" id="myModalLabel">Add a Slide</h4>
     	 			</div>
      				<div class="modal-body">
          				<form class="form-horizontal" action = "{{url_for("addSlide", project_id = project)}}" method="post" name="addSlide" role="form">
           					 <div class="form-group">
           						<label for="name">What would you like to name your slide?</label>
           						<input type="username" class="form-control" name="name" placeholder="Slide Name">
       						</div>
      						<button type="submit" name ="addSlide" class="btn btn-primary">Create Slide</button>
  						</form>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      				</div>
    			</div>
	  		</div>
	  	</div>
	{% endif %}
		{% if slideList|count > 0 and status != "Frozen" %}		
		<br>
		<div class="links">	
		<a href = "#checkInModal" data-toggle = "modal" data-target="#checkInModal">Check in a Slide</a>
		</div>
		<div class="modal fade" id="checkInModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModal" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
       		 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title" id="myModalLabel">Check-In Slide</h4>
     	 			</div>
      				<div class="modal-body">
          				<form class="form-horizontal" action = "{{url_for("checkInSlide", project_id = project)}}" method="post" name="slideCheckInForm" role="form" enctype = "multipart/form-data">
           					 <div class="form-group">
           						<label for="slide_id">Slide Name</label>
           						<select class="form-control" name="slide_id">
           						{% for slide in slideList %}
           						<option value="{{slide.id}}">{{loop.index}}) {{slide.name}}</option>           	
           						{% endfor %}
           						</select>
           						<div style="position:relative;">
            						<input class ="button btn-primary" type="file" name="slide_file" id = "slide_file">
        							<span class='label label-info' id="upload-file-info"></span>
								</div>
       						</div>
      						<button type="submit" name ="slideCheckOut" class="btn btn-primary">Check In Slide</button>
  						</form>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      				</div>
    			</div>
	  		</div>
	  </div>
	  	<div class="modal fade" id="checkOutModal" tabindex="-1" role="dialog" aria-labelledby="checkOutModal" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
       		 			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        				<h4 class="modal-title" id="myModalLabel">Check Out Slide</h4>
     	 			</div>
      				<div class="modal-body">
          				<form class="form-horizontal" action = "{{url_for("slideCheckOut", project_id = project)}}" method="post" name="slideCheckOutForm" role="form">
           		 			<div class="form-group">
           						<label for="slide_id">Slide Name</label>
           						<select class="form-control" name="slide_ID">
           						{% for slide in slideList %}
           						<option value="{{slide.id}}">{{loop.index}}) {{slide.name}}</option>           	
           						{% endfor %}
           						</select>
       						</div>
      						<button type="submit" name ="slideCheckOut" class="btn btn-primary">Check Out Slide</button>
  						</form>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      				</div>
    			</div>
	  		</div>
			<br>
		</div>
		<div class="links">
			<a href = "#checkOutModal" data-toggle = "modal" data-target="#checkOutModal">Check out a Slide</a>
		</div>		
			{% endif %}
			<br>
			<br>
		<div class = "links">
		<a href = "{{url_for("index")}}">Return to Projects Page</a>
		<br>
		<a href = "{{url_for("logout")}}">Log Out</a>
		</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
	<title>{{ name }}</title>
	<style>
	.table
	{		
		width:450px;
		padding-left:50px;
	}
	.header
	{
		padding-left:20px;
	}
	.links
	{
		padding-left:50px;
	}
	</style>
{% endblock %}