<!DOCTYPE html>
<html>
	<head></head>
	<title>{{ name }}</title>
	<body>
		<h1>{{ name}}</h1>
		<table>
			<tr>
				<td><h4>Presentation ID</h4></td>
			</tr>
		{% for presentation in presentationList %}
		<tr>
			<td><a href = "{{ url_for("presentation", project_id = project, presentation_id = presentation.id) }}">{{presentation.name}}</a></td>
		</tr>
		{% endfor %}
		</table>
		<br>
		<a href = "{{ url_for("persistPresentation", project_id = project)}}">Persist a Presentation</a>
		<br>
		<a href = "{{ url_for("index")}}">Return to index</a>
		<br>
		<a href = "/login.html">Log Out</a>
	</body>
</html>