<!DOCTYPE html>

<html>
	<title>{{ name }}</title>
	<head></head>
	<style>
	td, th {border: 1px solid #999; padding 0.1em 1em;}
	</style>

	<body>
		<h1>{{ name }}</h1>
		<br>
		<h2>List of Users in {{ name }}</h2>
		</br>
		<h3>{{ warning }}</h3>
		<table>
			<tbody>
				<tr>
				<td><b>User</b></td>
				<td><b>Role</b></td>
				</tr>				
				{% for userRole in userList %}
				<tr>
					<td>
						{{ userRole.user_ID }}
					</td>
					<td>
						{{ userRole.role }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
	<a href="{{ url_for("add_user_to_project", project_id = project) }}">Add Users from Project</a>
	<br>
	<a href= "{{ url_for("remove_users_from_project", project_id = project) }}"> Remove Users From Project</a>
	<br>
	<br>
	<a href = "{{ url_for("viewPresentations", project_id = project) }}">View List of Presentations</a>
	<br>
	<a href= "{{ url_for("downloadCurrentPresentation", project_id = project) }}">Download Current Presentation</a>
	<br>
	<br>
	<a href = "{{ url_for("changeProjectStatus", project_id = project) }}">Freeze/Release Project</a>
	<br>
	<br>
	<a href="/index.html">Back to Projects Page</a>
	<br>
	<a href="/login.html">Log Out</a>
	</body>
</html>