<!DOCTYPE HTML>

<html>
	<head>
		<title>Register for the Dynamic Presenter Project</title>
	</head>
	<body>
		{{ warning }}
		<form action = "/registered.html" method = "post" id="registerForm">
			<legend>Register</legend>
			<label for ="FName">First Name</label>
			<br>
			<input type ="FName" method = "post" name = "FName" required>
			<br>
			<br>
			<label for ="LName">Last Name</label>
			<br>
			<input type ="LName" method = "post" name = "LName" required>
			<br>
			<br>
			<label for ="FName">User Name</label>
			<br>
			<input type ="UName" method = "post" name = "UName" required>
			<br>
			<br>
			<label for ="password">Password</label>
			<br>
			<input type ="password" method = "post" name = "password" required>
			<br>
			<br>
			<label for ="repeatpass">Repeat Password</label>
			<br>
			<input type ="password" method = "post" name = "repeatpass" required>
			<br>
			<br>
			<input type ="submit" value ="Register">
		</fieldset>
	</form>
	</body>
</html>