{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{%block content %}
<!DOCTYPE html>
	<h3 class ="header">Presentation: {{name}}</h3>
	<h3 class="header">Click on a page link to download the slide</h3>
	<div class = "table">
		<table class = "table table-striped">
			<tr>
			<th>Page #</th><th>Slide Name</th>
		</tr>
		{% for slide in slideList %}
		<tr>
			<td><a href = "{{url_for("downloadSlide", project_id = project_id, presentation_id = presentation_id, slide_id = slide.id)}}">{{loop.index}}</td>
			<td>{{slide.name}}</td>
		</tr>
		{% endfor %}
		<br>
	</table>
</div>

<div class = table>
	<button type="button" class= "button btn btn-success" onclick ="location.href='{{url_for("downloadPresentation", project_id = project_id, presentation_id = presentation_id)}}'">Download  Presentation</a>
</div>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    {% for slide in slideList %}
    {% set file = project_id ~ "/" ~ slide.id ~ ".jpg" %}
    {% if loop.index == 1 %}
    <div class="item active">
      <img src="{{url_for("static", filename=file)}}" alt = "First Slide">
      <div class="carousel-caption">
      	<b>{{slide.name}}</b>
      </div>
    </div>
    {% else %}
      <div class="item">
      <img src="{{url_for("static", filename=file)}}" alt = "Second Slide">
      <div class="carousel-caption">
      	<b>{{slide.name}}</b>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
	<style>
  .table
  {   
    width:450px;
    padding-left:50px;
  }
  .header
  {
    padding-left:20px;
  }
  .links
  {
    padding-left:50px;
  }
	</style>
{% endblock %}